.button {
    width: 238px;
    height: 59px;
    color: #faf4ea;
    border: 2px solid #819857;
    background-color: #819857;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: #465929;

}