:root {
    --color-primary-green: #819b57;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
    --color-secondary-green: #465929;
    --color-secondary-brown: #A18268;
    --color-secondary-sage: #CFCFBC;
}


/* Base section */

body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

/* Link section */

.link {
    width: 106px;
    height: 27px;
    color: var(--color-primary-light);
}

.link:hover {
    color: var(--color-primary-green);
}

/* Button section */

.button {
    width: 238px;
    height: 59px;
    color: var(--color-primary-light);
    border: 2px solid var(--color-primary-green);
    background-color: var(--color-primary-green);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-secondary-green);

}

/* Hero section */

.hero-title {
    color: var(--color-primary-light);

    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-primary-green);
}

.hero-section {
    padding: 272px 0;

}

/* Advantages section */

.advantage-title {
    background-color: var(--color-primary-green);
    color: var(--color-primary-light);
}

.section-title {
    color: var(--color-primary-dark);
}

.section-title .accent {
    color: var(--color-secondary-green);
}